<h1>Hi <%= user.name %></h1>
<h2>Create Area</h2>
<form action="area" method="POST">
  <div>
    <label for="area">Area or muscle worked</label>
    <input type="text" id="area" name="area" required>
  </div>
  <button type="submit">Create Area</button>
</form>
<a href='/exercise'>Back</a>
